header
{
	display: flex;
	position: fixed;
	top: 0px;
	height: 80px;
	background-color: white;
	width: 100%;
	z-index: 9999;
}
#menu
{
	display: flex;
	align-items: center;
	position: fixed;
	right: 5px;
}
.textMenu
{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 1.5em;
}
.lienMenu
{
	margin: 5px;
	padding: 2px;
	font-size: 20px;
	text-decoration: none;
}
.lienMenu:visited, .lienNews:visited, .lienPage:visited, .lienComment:visited, .lienAdmin:visited, .lienRaf:visited, .lienSuite:visited, .lienAdminis:visited
{
	color: black;
}
section
{
	margin-top: 90px;
}
/* */

.titre
{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
}
.intro
{
	text-align: center;
	font-size: 1.4em;
}
.allNews
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.news
{
	width: 550px;
	border: 2px black solid;
	margin: 5px;
}
.titreNews
{
	margin: 0px;
	padding: 2px;
	border-bottom: 3px black solid;
	font-weight: bold;
	font-size: 1.3em;
}
.dateNews
{
	font-size: 0.8em;
}
.textNews
{
	padding-left: 5px;
	padding-right: 5px;
}
.lienNews
{
	position: relative;
	left: 400px;
	color: black;
}
.numberPages
{
	text-align: center;
	font-size: 1.2em;
}
.lienPage, .lienSuite
{
	color: black;
}
.lienSuite
{
	text-decoration: none;
}
.titre2
{
	font-weight: bold;
	font-size: 1.7em;
	text-decoration: underline;
}
.comment
{
	margin: 20px;
	margin-left: 0px;
	width: 600px;
	border: 1px black solid;
	padding: 5px;
}
.author
{
	font-size: 1.4em;
}
.lienComment
{
	color: black;
	text-decoration: none;
	position: relative;
	left: 530px
}
.lienAdmin
{
	color: black;
	text-decoration: none;
	position: relative;
	margin-right: 25px;
	left: 230px
}
.report
{
	color: red;
	font-weight: bold;
}
.info
{
	font-size: 1.3em;
	font-weight: bold;
}
.addPost{
	width: 500px;
	height: 800px;
}
.texteAddPost
{
	width: 100%;
	height: 25px;
	margin-bottom: 5px;
}
.buttonAddPost
{
	margin-top: 5px;
	width: 150px;
	height: 35px;
}
.lienAdminis
{
	color: black;
	text-decoration: none;
}

/* Formulaire */
.form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.formComment
{
	padding: 5px;
	border: 2px black solid;
	width: 400px;
	display: flex;
	flex-direction: column;
}
.formCommentText
{
	margin: 0px;
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: underline;
}
.formCommentSubmit
{
	margin-top: 5px;
}
#connectSubmit
{
	margin: 5px;
	position: relative;
	left: 105px;
}
.lienRaf
{
	color: black;
}
/* */

.admin
{
	display: flex;
	flex-direction: column;	
}

/* */
footer
{
	width: 100%;
	text-align: center;
	height: 50px;
}