@font-face {
    font-family: 'calligraffitiregular';
    src: url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.eot');
    src: url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.woff2') format('woff2'),
         url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.woff') format('woff'),
         url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.ttf') format('truetype'),
         url('webfont/calligraffiti_regular_macroman/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin: auto;
	/* background-color: #CCC; */
}
header
{
	display: flex;
	position: fixed;
	top: 0px;
	height: 80px;
	background-color: white;
	width: 100%;
	z-index: 9999;
}
#menu
{
	display: flex;
	align-items: center;
	position: fixed;
	right: 5px;
}
.textMenu
{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 1.8em;
	font-weight: bold;
	font-family: "calligraffitiregular", Arial;
}
.lienMenu
{
	margin: 5px;
	padding: 2px;
	font-size: 20px;
	text-decoration: none;
}
.lienMenu:visited, .lienNews:visited, .lienPage:visited, .lienComment:visited, .lienAdmin:visited, .lienRaf:visited, .lienAdminis:visited
{
	color: black;
}
section
{
	margin-top: 90px;
}
/* */

.titre
{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	font-family: "calligraffitiregular", Arial;

}
.intro
{
	text-align: center;
	font-size: 1.4em;
}
.allNews
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.news
{
	width: 550px;
	border: 2px black solid;
	margin: 5px;
	padding-bottom: 3px;
}
.titreNews
{
	margin: 0px;
	padding: 2px;
	border-bottom: 3px black solid;
	font-weight: bold;
	font-size: 1.3em;
}
.dateNews
{
	font-size: 0.8em;
}
.textNews
{
	padding-left: 5px;
	padding-right: 5px;
}
.lienNews
{
	position: relative;
	left: 400px;
	color: black;
}
.numberPages
{
	text-align: center;
	font-size: 1.2em;
}
.lienPage
{
	color: black;
}
.lienSuite
{
	text-decoration: none;
}
.titre2
{
	font-weight: bold;
	font-size: 1.7em;
	text-decoration: underline;
}
.comment
{
	margin: 20px;
	margin-left: 0px;
	width: 600px;
	border: 1px black solid;
	padding: 5px;
}
.author
{
	font-size: 1.4em;
}
.lienComment
{
	color: black;
	text-decoration: none;
	position: relative;
	left: 530px
}
.lienAdmin
{
	color: black;
	text-decoration: none;
	position: relative;
	margin-right: 25px;
	left: 230px
}
.report
{
	color: red;
	font-weight: bold;
}
.info
{
	font-size: 1.3em;
	font-weight: bold;
}
.addPost{
	width: 500px;
	height: 800px;
}
.texteAddPost
{
	width: 100%;
	height: 25px;
	margin-bottom: 5px;
}
.buttonAddPost
{
	margin-top: 5px;
	width: 150px;
	height: 35px;
}
.lienSuite, .lienAdminis, .lienSuite:visited, .lienAdminis:visited
{
	color: white;
	text-decoration: none;
}
.pSuite
{
	margin-left: 5px;
	padding: 4px;
	border: 1px black solid;
	border-radius: 2px;
	width: 78px;
	background-color: black;
}
.adminNumber
{
	font-size: 1.5em;
}
.lienAdminReport, .lienAdminAdd
{
	border: 1px black solid;
	border-radius: 2px;
	padding: 4px;
	width: 92px;
	background-color: black;
	margin: 5px;
}
.textContent
{
	margin-left: 5px;
	margin-right: 5px;
}

/* Formulaire */
.form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.formComment
{
	padding: 5px;
	border: 2px black solid;
	width: 400px;
	display: flex;
	flex-direction: column;
}
.formCommentText
{
	margin: 0px;
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: underline;
}
.formCommentSubmit
{
	margin-top: 5px;
}
#connectSubmit
{
	margin: 5px;
	position: relative;
	left: 105px;
}
.lienRaf
{
	color: black;
}
/* */

.admin
{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* */
footer
{
	width: 100%;
	text-align: center;
	height: 50px;
	border-top: 4px black solid;
	margin-top: 10px;
}


@media all and (max-device-width: 480px)
{
	header
	{
		height: 180px;

	}
	section
	{
		margin-top: 190px;
	}
	#menu
	{
	position: fixed;
	left: 5px;
	top: 80px;
	}
	.lienMenu
	{
		font-size: 2.3em;
	} 
	.lienNews, .lienSuite, .lienComment
	{
		font-size: 1.9em;
	}
	.lienSuite, .lienAdminis
	{
		font-size: 2.5em;
	}
	.lienAdminReport, .lienAdminAdd
	{
		width: 40%;
		height: 100px;
		text-align: center;
	}
	.pSuite
	{
		width: 200px;
	}
	.textMenu
	{
		font-size: 2.5em;
	}
	.textContent
	{
		font-size: 1.9em;
	}
	.titreNews
	{
		font-size: 2.2em;
	}
	.news
	{
		width: 80%;
		margin-top: 25px ;
	}
	.titre
	{
		font-size: 3.5em;
	}
	.intro
	{
		font-size: 2.6em;
	}
	.comment
	{
		width: 80%;
	}
	.textComment, .formComment
	{
		font-size: 2.1em;
	}
	.formComment
	{
		width: 95%;
	}
	#Nom_commentaire
	{
		height: 70px;
	}
	#comment
	{
		height: 250px;
	}
	.formCommentSubmit
	{
		height: 50px;
		margin-top: 15px;
		font-size: 1.2em;
	}
	footer, .titre2
	{
		font-size: 2.5em;
	}
}

@media screen and (max-width: 800px)
{
	header
	{
	height: 100px;
	}
	section
	{
		margin-top: 110px;
	}
	#menu
	{
	position: fixed;
	left: 5px;
	top: 40px;
	}
}